<%= form_with path: students_path, method: :get, local: true do |f| %>
  <div class="form-row align-items-center">
    
    <div class="col-sm-3 my-1">
      <%= text_field_tag(:institution_name, '', class: "form-control", placeholder: "Institution") %>
    </div>
     <div class="col-sm-3 my-1">
        <%= select_tag(:name,options_from_collection_for_select(Credential.all, :name , :name ),
                   {:prompt => 'Select qalification',class: "form-control",:multiple => 'true'}) %>


        <%# <% for credential in Credential.all %> %>
           <%# <%= check_box_tag "student[credential_ids][]", credential.id, @student.credentials.include?(credential) %> %>
           <%# <%=h credential.name %><br /> %>
        <%# <% end %> %>
      </div>
    <div class="col-auto my-1">
      <%= button_tag 'Search', class: "btn btn-primary" %>
    </div>
  </div>  
<% end %>


