<p id="notice"><%= notice %></p>
 <div class="wrapper">
    <div class="content-wrapper">
     <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h2 class="card-title col-md-6">New entries</h2>
                   <%= render "students/search_form" %> <br>
                   <span><%= render "search" %></span>
                   
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover ">
                  <thead>
                    <tr>
                      <th>Full name</th>
                      <th>Address</th>
                      <th>Phone</th>
                      <th>Institution</th>
                      <th>Country</th>
                      <th>Qualification</th>
                      <th>Approve</th>
                      <th>Reject</th>
                      <th>Actions</th>
                      <th colspan="3"></th>
                    </tr>
                  </thead>
                  <tbody>
                  <% @students.each do |student| %>
                  <% if student.approved.nil?%>
                  <tr>
                    <td><%= student.full_name %></td>
                    <td><%= student.address %></td>
                    <td><%= student.mobile %></td>
                    <td><%= student.institution.name %></td>
                    <td><%= student.country.try(:country_name)%></td>
                    <td><%= student.credentials.pluck(:name).join(', ')%></td>
                    <td>
                      <%= form_for student,url: approve_path(student) do |f| %>
                      <div class="field">
                        <%# <%= f.label "Approve!" <br /> %>
                        <%= f.hidden_field :approved, :value => :true  %> 
                        <%= f.submit "Approve", class: "button  small radius", data: { confirm: 'Are you sure?' }%>
                      </div>
                      <% end %>
                    </td>
                    <td>
                      <%= form_for student,url: reject_path(student) do |f| %>
                      <div class="field">
                        <%# <%= f.label "Reject!" <br />  %>
                        <%= f.hidden_field :approved ,:value => :false  %> 
                        <%= f.submit "Reject", class: "button small radius", data: { confirm: 'Are you sure?' }%>
                      </div>
                      <% end %>
                    </td>
                    <td>
                       <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle btn-sm" type="button" data-toggle="dropdown"><span class="caret"></span></button>
                         <ul class="dropdown-menu justify-elements">
                           <li><%= link_to 'Show', student %></li> <br/>
                           <li><%= link_to 'Edit', edit_student_path(student) %></li> <br/>
                           <li><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></li>
                         </ul>
                        </div>
                      </td>
                  </tr>
                  <% end %>  
                  <% end %>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div><!-- /.container-fluid -->
      </section> 
    </div>
  </div>   




